@model Lhuvin.Billing.Models.CreditCard
<div class="modal fade" id="deleteCardModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Delete</h3>
            </div>
            <div class="modal-body" dir="ltr">
                <h3 class="text-danger">Are you sure you want to delete this Card?</h3>
               @Model.Name @Model.CardNumber.Substring(Model.CardNumber.Length - 4)

                @using (Ajax.BeginForm("Delete", "CreditCards", new { Model.Id }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "cardDeleted('#deleteCardModal', " + Model.Id + ")" }, new { id = "deleteForm"}))
                {
                }
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-danger" value="Delete" form="deleteForm"/>
            </div>
        </div>
    </div>
</div>

    
